body {
    font-family: Arial, sans-serif;
}

.announcement {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4291ff;
    padding: 30px;
    border: 1px solid #baabff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.5s;
}

.announcement-content {
    position: relative;
}

.close-button {
    position: absolute;
    top: -30px;
    : 0px;
    font-size: 20px;
    cursor: pointer;
}

#showButton {
    margin-top: 20px;
    cursor: pointer;
}
